<%= provide(:title, 'Home')%>


  <% if logged_in? %>
  <div class='row'>
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <section class="user_posts col-md-6">
      <%= render 'shared/feed_partial' %>
    </section>
  </div>
  <% else %>
    <h1 class="center main-title">Konnection</h1>
    <%= link_to 'Sign Up', signup_path , class: 'sign-up-btn center' %>
  <% end %>