<%= provide(:title,'Login') %>

<%= form_for :session,url: login_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %><span><%= link_to 'Forgot password?', new_password_reset_path %></span>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %><span>Remember me on this computer</span>
  <%= f.submit 'Log In', class: 'btn' %>
  <div>
    <span>New user?</span><span><%= link_to 'Sign Up', signup_path %></span> 
  </div>
  
<% end %>

