<%= provide(:title, 'Reset Password') %> 

<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <%= hidden_field_tag :email, @user.email %>
  <%= f.label :password %>
  <%= f.password_field :password %> 
  <%= f.label :password_confirmation %> 
  <%= f.password_field :password_confirmation %> 
  <%= f.submit 'Update Password' %>
<% end %>
