<%= provide(:title, 'Forgot Password') %>

<%= form_for :password_reset, url: password_resets_path do |f| %> 
  <%= f.label :email %> 
  <%= f.text_field :email %> 
  <%= f.submit 'Submit', class: 'btn'%>
<% end %>