<p>Hi <%=@user.name%></p>

<p>Welcome to Konnec-tion!</p>

<p>Please click the link below to activate your account.</p>

<%= link_to 'Acivate',edit_account_activation_url(@user.activation_token, email: @user.email) %>
