<p>Hi <%= @user.name %></p>

<p>Please click the link below to reset your password.</p>

<p>This link will expire in two hours.</p>

<%= link_to 'Reset password', edit_password_reset_url(@user.password_reset_token, email: @user.email) %>

<p>If you did not request for your password to be reset, Please ignore this email and your password will stay as it is.</p>