Hi <%= @user.name %>

Please click the link below to reset your password.

This link will expire in two hours.

<%= edit_password_reset_url(@user.password_reset_token,email: @user.email) %>

If you did not request for your password to be reset, Please ignore this email and your password will stay as it is.
