<% unless current_user?(@user) %> 
  <div id="follow_form">
    <% if current_user.follows?(@user) %>
      <%= render 'users/unfollow' %>
    <% else %> 
      <%= render 'users/follow' %>
    <% end %> 
  </div>
<% end %>