 <li><span><%= gravatar_for(user, 'none', size: 50) %></span><%= link_to user.name, user_path(user) %> 
   <% if !current_user?(user) && current_user.admin? %>
     | <span><%= link_to 'Delete', user_path(user), method: :destroy %></span>
   <% end %>
 </li>