<%= provide(:title,'Edit User') %>
<h2>Edit Profile</h2>
<%= form_for @user, url: {action: 'update'} do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class="field">
      <%= f.label :name  %>
      <%= f.text_field :name %>
  </div>
  <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
  </div>
  <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
  </div>
  <div>
      <%= f.submit 'Update User', class: "btn" %>
  </div>
<% end %>
<div class="gravatar-edit">
    <%= gravatar_for @user, 'none', size: 50 %>
    <a href="http://www.gravatar.com/emails" target="_blank">Change</a>
</div>
