<%= provide :title,'Create User' %>

<%=form_for @user, html: {class: ''} do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class="field">
      <%= f.label :name  %>
      <%= f.text_field :name %>
  </div>
  <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
  </div>
  <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
      <%= f.submit "Create Account", class: 'btn' %>
  </div>
<% end %>
