<%= provide(:title, @user.name) %>
<div class="row">
<section class="user_info col-md-4">
  <%= render 'shared/user_info' %>
</section>
<section class="user_posts col-md-6">
  <%= render 'users/follow_form' if logged_in? %>
  <% if @user.posts.any? %>
    
    <h3>Micropost(<%= @user.posts.count %>)</h3>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %> 
  <% end %> 
</section>
</div>