<%= provide(:title, @title) %>
<div class="row">
<aside class="user_info col-md-4">
  <%= render 'shared/user_info' %>
  <% if @users.any? %> 
  <div class="users_avatars">
    <% @users.each do |user| %>
      <%= link_to gravatar_for(user,'none',size: 20) %>
    <% end %>
  </div>
<% end %>
</aside>

<div class="col-md-8">
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  <% end %>
</div>
</div>