<% if object.errors.any? %>
  <div id="error_explanation">
  <p>This form contains <%= pluralize(object.errors.count, 'error') %></p>
  <ul>  
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>
