<% if @feed_items.any? %> 
  <ol class='posts' id="feed">
    <%= render @feed_items %>
    <!-- Since each item in collection belongs to class `Post`, Rails will look for a partial with the corresponding name in the view directory.-->
  </ol>
  <%= will_paginate @feed_items %>
<% end %>