<%= form_for @post, html: { multipart: true } do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content , placeholder: 'Compose new post..' %>
  </div>
  <div class="field">
    <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %> 
  </div>
  <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>
<script type="text/javascript">
  $('#post_picture').on('change',function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if(size_in_megabytes > 5){
      alert("Maximum file size is 5MB. Please choose another file.");
    }
   
  });
</script>