<div class="stats">
    <a href="<%= following_user_path(@user) %>">
        Following 
        <strong id="following" class="stat">
           <%= @user.following.count %>
        </strong>
    </a>
    <a href="<%= followers_user_path(@user)%>">
        Follower 
        <strong id="followers" class="stat">
            <%= @user.followers.count%>
        </strong>
    </a>
</div>