
<%  @user ||= current_user %> 
<%= link_to gravatar_for(@user, 'none', size: 80), @user %>
<span class="user"><%= @user.name %></span></br>
<span class="profile_link"><%= link_to 'View my profile', @user %></span></br>
<span class="edit_link"><%= link_to 'Edit User', edit_user_path(@user) %></span>
<span class="post_count"><%= pluralize(@user.posts.count,'post')%></span>

<%= render 'shared/user_stat' %>