<li id="post-<%= post.id%>">
  
    <%= link_to gravatar_for(post.user, 'none', size: 50), post.user %>
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <span class="content"><%= post.content %></span> | 
    <span><%= link_to 'Delete', post_path(post), method: :delete, confirm: "Are you sure?" %></span>
    <span class="timestamp">Posted <%= time_ago_in_words(post.created_at)%> ago</span>

    <div>
       <%= image_tag(post.picture.url,class: 'uploaded_image') if post.picture? %>
    </div>
   
</li>