@import 'partials/variables';

form{
    width: 25%;
    margin: 150px auto;
    label{
        width: 100%;
        display: block;
        color: $primary-color;
    }
    input{
        width: 100%;
        border: 2px solid $secondary-color;
        &:focus{
            border: 4px solid $secondary-color;
        }
    }
    input[type='submit']{
        margin-top: 10px;
        background-color: $secondary-color;
    }
}

#error_explanation{
    color: #fff;
    background: rgba(0,0,0,0.7);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
}

.field_with_errors{
    // border-color: $primary-color!important;
   border: 1px solid red;
}

#session_remember_me{
    width: 20%;
}

// post form 
#new_post{
    width: 75%;
    textarea{
        width: 100%;
    }
}

// follow-unfollow form
.edit_relationship, .new_relationship{
    margin: 0 auto;
}
