// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// variables 

@import 'partials/variables';

header{
    width: 40%;
    margin: 20px auto;
}

.marker{
    border: 2px solid #000;
}
.center{
    text-align: center;
}
.nav-container{
    position: relative;
    height: 100px;
}
nav{
  
  ul li{
  display: inline-block;
  margin: 0 20px 0 20px;
  
  }
  
}
.drop-down{
    position: relative;
    &:hover > ul {
            display: block;
        }
    ul{
        position: absolute;
        top: 40px;
        padding: 5px;
        display: none;
        
    }
}

.main-title{
    padding: 10px;
    margin-bottom: 200px;
    border-bottom: 2px solid #F8E270;
    color: $primary-color;
    width: 10%;
    margin: 200px auto;
}

.sign-up-btn{
    width: 10%;
    border: 2px solid #fff;
    padding: 20px;
    display: block;
    margin: 30px auto;
    background: none;
}
.user_info{
    width: 50%;
   
    margin: 10px auto;
    img{
        float: left;
        margin-right: 10px;
    }
}