// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import 'partials/variables';

@mixin img-style {
    border-radius: 50%;
    border: 2px solid #fff;
}
.gravatar{
    display: block;
    margin: 10px auto;
    @include img-style;
}
.profile-title{
    color: #FD4F54;
}


//  posts listing 

.posts {
   li{
       margin-bottom: 10px;
       padding: 10px 10px 10px 10px;
       border-bottom: 1px $primary-color solid;
   }
   .none{
       float: left;
       margin: 0 20px 20px 0;
   }
}
.timestamp{
    display: block;
    margin-bottom: 20px;
}
// Users Index page
.users{
    list-style: none;
    li{
        width: 30%;
        border-bottom: 1px solid grey;
       span{
           margin-right: 20px;
       }
     img{
         @include img-style;
     }   
    }
}


//  User show page 

.user_posts {
    h3{
        margin: 0 0 0 10px;
    }
}
// show_follow page 
.users_avatars{
    width: 40%;
    margin-top: 15px;
}