<header class="marker">
  <div class="nav-container marker">
    <nav>
        <ul class="center">
            <li><%= link_to 'Home',root_path %></li>
            <li><%= link_to 'About' %></li>
            
            <% if logged_in?%>
              <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              <li><%= link_to 'Users', users_path %></li>
              <li class="drop-down">Account
              <ul class="marker">
                <li><%= link_to 'Profile', user_path(current_user) %></li>
                <li><%= link_to 'Setting' %></li>
              </ul>
              </li>
            <% else %>
              <li><%= link_to 'Login', login_path %></li>
            <% end %>
        </ul>
    </nav>
  </div>
</header>